/* .App {
  text-align: center;
} */


.container {
  /* align-items: center; */
  border: 1px solid rgb(5, 80, 21);
  width: 30%;
  padding: 10px;
}

.nav-link {
  text-align: left;
  border: 1px solid hotpink;
  
}

.author-table {
  border: 1px solid blue;

}
